<h1>login</h1>

<%= form_for :session, url: login_path do |f| %>
<p>

  name:<%= f.text_field :name %><br>
  pass:<%= f.text_field :pass %>
  <%= f.submit"login" %>
</p>
<% end %>
<p>
  ユーザーを持っていないなら、<%= link_to 'ユーザー作成', create_user_path %>へ
</p>
