
<h2 class="ui dividing header">ChatRoom一覧</h2>

<div class="ui center aligned stackable grid container">
  <% @chat_rooms.each do |chat_room| %>
  <div class="five wide column">
    <div class="ui horizontal segments">
      <div class="ui medium header segment">
        <%= chat_room.id %>
      </div>
      <div class="ui medium segment">
        <em><%= chat_room.chat_name %></em>
      </div>
      <div class="ui medium segment">
        <%= link_to 'in', chat_room_path(chat_room),class: 'fluid ui green button'%>
      </div>
    </div>
  </div>
  <% end %>
</div>
<%= link_to 'logout', logout_path, method: :delete %>
<%= link_to '新しい部屋を作成する', new_chat_room_path %>
