
<h1>ChatRoom一覧</h1>
<table class="ui right aligned table">
  <thead>
    <tr>
      <th class="left aligned">room_id</th>
      <th>room_name</th>
    </tr>
  </thead>
<% @chat_rooms.each do |chat_room| %>
  <tbody>
    <td class="left aligned"><%= chat_room.id %></td>
    <td><%= chat_room.chat_name %></td>
    <td><%= link_to 'in', chat_room_path(chat_room) %></td>
  </tbody>
<% end %>
</table>
<%= link_to 'logout', logout_path, method: :delete %>
<%= link_to '新しい部屋を作成する', new_chat_room_path %>
