<h1><%= @chat_room.chat_name %></h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>user_name</th>
      <th>content</th>
    </tr>
  </thead>
  <tbody>
    <% @chats.each do |chat| %>
    <tr>
      <td><%= chat.user.name %></td>
      <td><%= chat.content %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>
<%= form_for Chat.new, url: chats_path + "?chat_room_id=#{@chat_room.id}"  do |f| %>
<div class="input-group">
  <span class="input-group-addon">コメント</span>
  <%=  f.text_field :content,type: 'text',class: 'form-control' %>
  <span class="input-group-btn">
  <%= f.submit"送信",class: 'btn btn-primary' %>
</span>
</div>
<% end %>
<hr>
<%= link_to '一覧に戻る', chat_rooms_path %>
